.option li {
    list-style-type: none;
    padding-bottom: 3px;
    margin-bottom: 5%;
    border-bottom: 0px solid transparent;
}

.option li a:hover {
    color: darkcyan;
    border-bottom: 2px solid darkcyan;
    transition: .05s;
}

.option li a {
    text-decoration: none;
    color: black;
    padding-bottom: 4px;
}