.container {
    width: 100%;
    background-color: rgb(125, 139, 0);
    height: 45px;
    position: fixed;
    top: 0;
    display: flex;
}

@media only screen and (min-width: 701px) {
    .container{
        display: none;
    }
}