.container {
    width: 100%;
    background-color: darkcyan;
    height: 7%;
    position: fixed;
    top: 0;
    display: flex;
}

@media only screen and (min-width: 701px) {
    .container{
        display: none;
    }
    
}