.header {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top left, var(--oxford-blue), var(--dark-blue));
    padding-left: 8%;
}

.list-group {
    flex-direction: row;
}