.option {
    margin-bottom: 20%;
}

.option li {
    list-style-type: none;
    padding-bottom: 3px;
    border-bottom: 0px solid transparent;
}

.option li a:hover {
    border-bottom: 2px solid var(--sea-blue);
    transition: 0.2s ease-in;
}

.option li a {
    float: left;
    text-decoration: none;
    color: var(--lighter-blue);
    padding-bottom: 2px;
    cursor: pointer;
    border-bottom: 2px solid transparent;

}

.hidden-text {
    display: none;
}

.short-text {
    display: none;
}

.full-text {
    display: inline;
}

@media only screen and (max-width: 1200px) {
    .option li a span {
        font-size: 85%;
    }
}

@media only screen and (max-width: 650px) {
    .option li a span {
        font-size: 78%;
    }
}