.container {
    position: fixed;
    width: auto;
    bottom: 0;
    width: 65vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1% 3% 1% 3%;
    background-color: white;
    border: 1px solid darkcyan;
    border-radius: 20px;
    margin: 2% 0% 2% 2%;
}

button {
    background-color: transparent;
    border: none;
    margin-left: 2%;
}

.icon span svg {
    height: 40px;
    width: 40px;
}

input {
    margin: 2% 2% 2% 0%;
    border: none;
    outline: 0;
    border-bottom: 1px solid darkcyan;
}

input:focus {
    border-bottom: 2px solid darkcyan;
}

::-webkit-input-placeholder {
    font-style: italic;
}

.author {
    float: left;
    width: 47%;
    margin-right: 5%;
}

.job-title-author {
    width: 38%;
    float: right;
    margin-right: 10%;
}

.summary {
    width: 90%;
    border: 1px solid darkcyan;
    height: 50px;
    text-indent: 1%;

}