.bottom-info {
    margin-top: 5px;
    background-color: darkcyan;
    border-radius: 0%;
}

.list {
    vertical-align: baseline;
}

.list li {
    display: inline;
    vertical-align: baseline;

}