.bottom-info {
    margin-top: 5px;
    background-color: darkcyan;
    border-radius: 0%;
    height: 100%;
    text-align: center;
    justify-content: baseline;
    vertical-align: middle;
}

.centering {
    margin-top: auto;
    margin-bottom: auto;
}

/* @media only screen and (max-width: 1300px) {
    .social-links li {
        display: block;
        margin-right: 0;
        margin-bottom: 70px;
    }

    .social-links li:last-child {
        margin-bottom: 0;
    }
    
} */