.container {
    margin: 1%;
    height: 500px;
    background-color: #dddddd;
    border-radius: 10px;
    cursor: pointer;
    flex: 0 0 8%;
}

.expanded {
    flex: 0 0 30% !important;
    transition: .3s linear;
}