.container {
    padding: 15px;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.details {
    padding: 1%;
}

.details p{
    display: inline-block;
    margin-bottom: 0.5%;
}

.description li:last-child{
    margin-bottom: 0;
}

.description ul{
    margin-bottom: 0;
    padding-top: 0.5%;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.description ul li{
    list-style-type: circle;
    margin-top: 1%;
    min-width: 40%;
    margin-right: 20px;
}

.role{
    font-weight: 600;
    font-size: 18px;
}

.period-of-time {
    display: block !important;
    color: rgb(158, 158, 158);
}

.company-name {
    font-weight: 700;
    font-size: 18px;
    color: var(--bitter-sweet);
}

@media screen and (max-width: 800px) {
    .description ul li {
        font-size: 14px;
    }

    .description ul{
        columns: 1;
    }
}