.bullet {
    height: 20px;
    width: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 2%;
    border: 1px solid var(--lighter-blue);
    background-color: var(--completed-bullet);
    border-radius: 100rem 50rem 10rem 10rem;
  }

@media only screen and (max-width: 700px)
{
    .bullet {
      display: none;
    }
}