.col-divider {
    border-right: 2px solid darkcyan;
    overflow-x: hidden;
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    height: 100%;
    overflow: hidden;
  }

.container-padding{
  padding: 0;
  overflow-x: hidden;
}

.content-container {
  overflow: auto;
  margin-left: 25%;
  width: 75vw;
}

.col-3 {
  width: 25vw;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: rgb(184, 202, 202);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: darkcyan;
}

@media only screen and (max-width: 700px) {
  .col-3 {
    display: none;
  }
  
  .content-container {
    width: 100vw;
    margin-left: 0%;
    margin-top: 50px;
    padding-top: 16px;
    padding-bottom: 50px;
  }
}

@media only screen and (max-height: 500px) {
  .col-3 {
    display: none;
  }
  
  .content-container {
    width: 100vw;
    margin-left: 0%;
    margin-top: 50px;
    padding-top: 16px;
    padding-bottom: 100px !important;
  }
}

@media only screen and (max-width: 500px) {
  .content-container {
    padding-bottom: 100px !important;
  }
}

@supports (-webkit-touch-callout: none) {
  .content-container {
    padding-bottom: 100px !important;
    margin-bottom: 100px !important;
  }
}